pandas
numpy

# For visualizations 
seaborn
matplotlib

# OpenAlex's API 
openalexapi  

# Download and get text from PDFs 
pypdf

# Get text from docx 
docx2txt

# URL-extraction
urlextract
# Requirements for urlextract to work 
idna
uritools
platformdirs
dnspython

# Text classification using Sci-BERT and additional libraries for preprocessing 
nltk

# SciBert 
--upgrade datasets transformers seqeval evaluate

# Validate Material/Dataset URLs 
requests
