pandas
numpy
seaborn

# OpenAlex's API 
openalexapi  

# Download and get text from PDFs 
pypdf

# URL-extraction
urlextract
# Requirements for urlextract to work 
idna
uritools
platformdirs
dnspython

# Text classification using gensim and additional libraries for preprocessing 
gensim
language-check
pycontractions

# SciBert 
--upgrade datasets transformers seqeval evaluate