pandas
numpy
seaborn

# OpenAlex's API 
openalexapi  

# Download and get text from PDFs 
pypdf

# URL-extraction
urlextract
# Requirements for urlextract to work 
idna
uritools
platformdirs
dnspython

# Text classification using fastText's pretrained word embeddings
fasttext